<div class="navbar">
    <h2>
        BUDGET PLANNER
    </h2>
</div>
<div class="login-container">
    <form *ngIf="activeform==='login'" [formGroup]="loginform" (ngSubmit)="login()">
        <h2>LogIn</h2>
        <div class="form-groub">
            <input type="email" formControlName="email" placeholder="enter your email">
        </div>
        <div class="form-groub">
            <input type="password" formControlName="password" placeholder="enter your password">
        </div>
        <button type="submit">LogIn</button>
        <p (click)="toggleform('regester')">Dont Have An Account?
            <span class="highlighted">Regester</span>
        </p>
    </form>
    <!-- regester -->
    <form *ngIf="activeform==='regester'" [formGroup]="regesterform" (ngSubmit)="regester()">
        <h2>Regester</h2>

        <div class="form-groub">
            <input type="text" formControlName="username" placeholder="enter your username">
        </div>
        <div class="form-groub">
            <input type="email" formControlName="email" placeholder="enter your email">
        </div>
        <div class="form-groub">
            <input type="password" formControlName="password" placeholder="enter your password">
        </div>
        <button type="submit">Regester</button>
        <p (click)="toggleform('login')">Already Have An Account?
            <span class="highlighted">Login</span>
        </p>
    </form>

</div>
